name: Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up cache directory
        run: echo "kubectl" > .kubectl-cache

      - name: Cache kubectl client
        uses: actions/cache@v2
        with:
          path: .kubectl-cache
          key: ${{ runner.os }}-kubectl-${{ hashFiles('.kubectl-cache') }}
          restore-keys: |
            ${{ runner.os }}-kubectl-

      - name: Download kubectl client
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          curl -LO "https://dl.k8s.io/release/v1.22.0/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/
          echo "kubectl" > .kubectl-cache

      - name: Verify kubectl installation
        run: kubectl version --client
