name: Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - env:
          ROOT_PATH: "src"

        run: |
          echo $ROOT_PATH
