name: Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up cache directory
        id: cache-dir
        run: echo "KUBECTL_CACHE_DIR=/tmp/kubectl-cache" >> $GITHUB_ENV

      - name: Cache kubectl client
        uses: actions/cache@v3
        with:
          path: ${{ env.KUBECTL_CACHE_DIR }}
          key: kubectl-v1.22.0

      - name: Download kubectl client if not cached
        run: |
          if [ ! -f $KUBECTL_CACHE_DIR/kubectl ]; then
            curl -LO "https://dl.k8s.io/release/v1.22.0/bin/linux/amd64/kubectl"
            chmod +x kubectl
            mv kubectl $KUBECTL_CACHE_DIR/
          fi

      - name: Move kubectl to /usr/local/bin
        run: sudo mv $KUBECTL_CACHE_DIR/kubectl /usr/local/bin/
