name: Test

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - env:
          ROOT_PATH: "src"

        run: |
          echo $ROOT_PATH
      - name: Set the value
        id: step_one
        run: |
          echo "action_state=yellow" >> "$GITHUB_ENV"
      - name: Use the value
        id: step_two
        run: |
          echo "${{ env}}"  
          echo "${{ env.action_state }}" # This will output 'yellow'
          echo "$action_state"
